<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    <!-- ======= Header ======= -->
    {{ partial "header.html" . }}
    <!-- End Header -->

    <main id="main">
      <!-- ======= Hero Section ======= -->
      <section id="hero" class="d-flex align-items-center">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-7 content">
              <h2>SOFTWARE ARCHITECTURE</h2>
              <h3>
                <span
                  >Reduce total cost of ownership from the start with an
                  experienced partner.</span
                >
              </h3>
              <h2>COMPETENCY</h2>

              <p>
                Design and documenting software architecture is a complex
                process that is critically important in any project. Long-term
                success of any implementation depends on getting the
                architecture correct because it reduces the total cost of
                ownership over the lifetime of the project by reducing the
                maintenance and improving overall quality. BGASoft has developed
                and deployed a large number of successful custom software
                projects; on doing so we have accumulated a great deal of
                know-how and best practices.
              </p>
            </div>

            <div class="col-lg-4"></div>
          </div>
        </div>
      </section>
      <!-- End Hero Section -->

      <!-- ======= Hero Section ======= -->
      <section
        id="hero"
        class="d-flex align-items-center"
        style="background: #fff"
      >
        <div class="container" data-aos="fade-up">
          <div class="row align-items-center">
            <div class="col-lg-4">
              <img
                src="/assets/img/software-arhitecture-ilustration.png"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="col-lg-8 content">
              <h2>TRANSITION FROM REQUREMENTS TO SUCCESS</h2>

              <p>
                Having an experienced software arrchitect is essential to any
                project. That's why BGASoft works only with highly experienced
                software architects who have successfully developed and deployed
                in a timely manner. We have the experienced architects and best
                practices to bring to any project and make it successful.
              </p>

              <a href="/">CONTACT <i class="bi bi-arrow-right-short"></i></a>
            </div>
          </div>
        </div>
      </section>
      <!-- End Hero Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {{ partial "footer.html" . }}
    <!-- End Footer -->

    <!-- ======= Header ======= -->
    {{ partial "script.html" . }}
    <!-- End Header -->
  </body>
</html>
